/* #buyNow button {
  border-radius: 4em;
} */

#increment:hover {
  cursor: pointer;
}

#decrement:hover {
  cursor: pointer;
}
#qty:hover {
  cursor: default;
}

/* #buynowbtn,
#addtocartbtn {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
} */
